*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter{
  font-family: "Inter", sans-serif;
}

body{
    background-color: #1A0B2E;
}

nav{
    display: flex;
    max-width: 1600px;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 30px;
}
nav>img{
    object-fit: contain;
}
ul{
    color: #FFFFFF;
    display: flex;
    gap: 32px;
}
li{
    list-style: none;
    font-weight: 500;
}
.nav-container{
    display: flex;

}

hr{
    border: none;         
    height: 1px;          
    background-color: dimgray;
    opacity: 0.3
}

.nav-btn{
    display: flex;
    align-items: center;
    border-radius: 40px;
    padding: 12px 16px 12px 16px;
    gap: 5px;
    background: linear-gradient(to right,rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    color: #FFFFFF;
    font-weight: 600;
    transition: all 1.5s ease-in-out;
}

.nav-btn:hover{
    background: transparent;
    border-color: #FFFFFF; 
    color: #FFFFFF;
    cursor: pointer;
}