*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inter{
  font-family: "Inter", sans-serif;
}

body{
    background-color: #1A0B2E;
}

nav{
    display: flex;
    max-width: 1600px;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    padding: 30px;
}
nav>img{
    object-fit: contain;
}
ul{
    color: #FFFFFF;
    display: flex;
    gap: 32px;
}
li{
    list-style: none;
    font-weight: 500;
}
.nav-container{
    display: flex;

}

hr{
    border: none;         
    height: 1px;          
    background-color: dimgray;
    opacity: 0.3
}

.nav-btn{
    display: flex;
    align-items: center;
    border-radius: 40px;
    padding: 12px 16px 12px 16px;
    gap: 5px;
    background: linear-gradient(to right,rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    color: #FFFFFF;
    font-weight: 600;
    transition: all 1.5s ease-in-out;
}

.nav-btn:hover{
    background: #6d00fc8c;
    border-color: #6d00fc34;; 
    color: #FFFFFF;
    cursor: pointer;
}

.hamburger-menu{
    display: none;
}

.hero-heading{
    font-size: 3.75rem;
    color: #FFFFFF;
    font-weight: 800;
    margin-bottom: 8px;
}

.hero-paragraph{
    color: #FFFFFF;
    margin-bottom: 24px;
    opacity: 0.5;
}
.hero-container{
    position: relative;
    padding: 40px 20px;
    width: 100%;
    background-image: url(../assets/hero-bg.png);
    background-position: center;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.hero-circle>img{
    max-width: 350px;
    width: 100%;
    margin-bottom: 40px;
}

.image-container{
    position: relative;
    max-width: 100%;
}

.mic{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 17%;
    left: 47%;
}
.hero-btn-container{
    display: flex;
    gap: 8px;
    margin-bottom: 100px;
}

.listen-btn{
    display: flex;
    align-items: center;
    border-radius: 40px;
    padding: 12px 16px 12px 16px;
    gap: 5px;
    background: linear-gradient(to right,rgba(247, 233, 63, 1),rgba(251, 9, 180, 1),rgba(145, 0, 248, 1));
    color: #FFFFFF;
    font-weight: 600;
    transition: ease-in .5s;
}

.listen-btn:hover{
    background: #6d00fc8c;
    border-color: #6d00fc34;; 
    color: #FFFFFF;
    cursor: pointer;
}

.subscriber-btn{
    display: flex;
    align-items: center;
    border-radius: 40px;
    padding: 12px 20px 12px 20px;
    gap: 5px;
    background-color: transparent;
    border: 1px solid #00FF88;
    color: #00FF88;
    transition: ease-in .5s;
}
.subscriber-btn:hover{
    background: #00773e69;
    border-color: #00FF88; 
    color: #FFFFFF;
    cursor: pointer;
}

.about-container{
    color: #FFFFFF;
    text-align: center;
}

.about-hr-line{
    border: 1px solid dimgray;
    margin-bottom: 80px;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 80px;
}

.about-container h1{
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 16px;
}
.about-container p{
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 80px;
    opacity: 0.5;
    line-height: 20px;
}

.promo{
    display: flex;
    justify-content: space-around;
    max-width: 1600px;
    margin: 0 auto;
    margin-bottom: 120px;
}

.promo-contents h3{
    font-size: 3rem;
    color: #00FF88;
}
.promo-contents p{
    color: #FFFFFF;
    opacity: 0.5;
}


#why-choose{
    background-color: #230E3D;
    padding-top: 80px;
    padding-bottom: 120px;
}


.choose-container{
    max-width: 1200px;
    margin: 0 auto;
    
}
.card-container{
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-areas: 
    "card-1 card-2 card-2"
    "card-1 card-3 card-3"
    "card-4 card-4 card-5";
}
.choose-container h1{
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 40px;

}

.card-1{
    grid-area: card-1;
    background-color: #35116550;
    padding: 90px 40px;
    border-radius: 30px;
}
.card-2{
    grid-area: card-2;
    background-color: #35116550;
    padding: 40px;
    border-radius: 30px;
}
.card-3{
    grid-area: card-3;
    background-color: #35116550;
    padding: 40px;
    border-radius: 30px;
}
.card-4{
    grid-area: card-4;
    background-color: #35116550;
    padding: 40px;
    border-radius: 30px;
}
.card-5{
    grid-area: card-5;
    background-color: #35116550;
    padding: 40px;
    border-radius: 30px;
}

.featured-container{
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}
.card-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-bottom: 120px;
}

.fcard{
    width: 350px;
    height: 550px;
    color: #FFFFFF; 
    border-radius: 30px;                
    background-color: #250D44;
    text-align: left;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}


.duration{
    display: flex;
    gap: 10px;
    color: #00FF88;
    font-weight: 600;

}
.host-contents{
    max-width: 1200px;
    margin: 0 auto;
    color: #FFFFFF;
    background-color: rgba(53, 17, 101, 0.4);
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 40px;
}

.social-links{
    display: flex;
    gap: 16px;
    align-items: center;
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid rgba(83, 60, 114, 1); 
    border-radius: 50%;
}

#footer {
    background-image: url('../assets/footer-bg.png');
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}


.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    color: #FFFFFF;
}

.link-item{
    display: flex;
    align-items: center;
    gap: 8px;
    color: #FFFFFF;
    opacity: 0.7;
}

.copyright{
    color: #FFFFFF;
    opacity: 0.5;
    margin-top: 10px;
}

/* Responsive starts here */

@media screen and (max-width: 576px) {
    body {
        overflow-x: hidden;
    }
    
    nav{
        justify-content: space-between;
    }

    li,.nav-btn{
        display:none;
    }
    .hamburger-menu{
        display: flex;
        cursor: pointer;
    }

    .hero-container{
        background-image: url(../assets/hero-bg-small.png); 
    }
    .hero-heading{

    }
    .hero-btn-container{
        margin-bottom:0px;
    }

    .hero-circle > img {
        top: 10px;
        max-width: 180px; 
    }
    .mic {
        max-width: 45px;
        top: 19%;
        left: 45%;
    }
    .about-container p{
        max-width: 360px;
    }
    .about-container h1{
        font-size: 2rem;
        margin-top: 40px;
    }

    .promo-contents h3{
        font-size: 2.5rem;
    }

    .promo{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        text-align: center;
        gap: 40px;
        max-width: 360px;
    }
    .about-hr-line{
        display: none;
    }
    .card-container{
        grid-template-areas: 
        "card-1"
        "card-2"
        "card-3"
        "card-4"
        "card-5";
        grid-template-columns: 1fr;
        gap: 16px;
        margin-bottom: 40px;
    }
    #why-choose{
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .choose-container{
        padding: 20px; 
        
    }
    .card-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    } 
    .host-contents {
        flex-direction: column; 
        text-align: center;     
        padding: 40px 20px;
        margin: 0 20px;       
    }

    .right {
        display: flex;
        flex-direction: column;
        align-items: center;    
    }

    .social-links{
        justify-content: center;
        margin-top: 16px;
    }

    .host-img img {
        margin-bottom: 16px;
    }
    .host-container{
        margin-bottom: 40px;
    }

    #footer{
        background-image: url('../assets/footer-small.png'); 
        background-size: cover; 
        background-position: center;
        background-repeat: no-repeat;
        padding: 60px 0; 
        display: flex;
        justify-content: center;
    }

    .footer-container {
        max-width: 1600px;
        display: flex;
        align-items: center;
        text-align: center;
        gap: 25px;
    }


    .links{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px 
    }

    .link-item{
        display: flex;
        align-items: center;
        gap: 8px;
        color: white;
        font-size: 14px;
    }

    .copyright{
        color: rgba(255, 255, 255, 0.6);
        font-size: 12px;
        margin-top: 10px;
    }
}